/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.contact-page{
	padding-top: 17rem;
	padding-bottom: 17rem;
}

#section-home{
	padding-top: 17rem;
	padding-bottom: 17rem;
}